__pycache__/
*.py[cod]
.coverage
.pytest_cache/
build/
dist/
*.egg-info/
vendor/*.tar.gz
vendor/*.partial
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/multi-settings/
debian/multi-settings.debhelper.log
debian/multi-settings.substvars
debian/tmp/
