<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Onboarding</vendor>
  <action id="io.github.wrrm.multisettings.manage">
    <description>Manage users, YubiKeys, PAM, or system hardening</description>
    <description xml:lang="sv">Hantera användare, YubiKeys, PAM eller systemhärdning</description>
    <message>Administrator authentication is required to change system security settings.</message>
    <message xml:lang="sv">Administratörsautentisering krävs för att ändra systemets säkerhetsinställningar.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/multi-settings-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
